html 
{background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 62%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(62%, rgba(255,255,255,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 62%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 62%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 62%, rgba(237,237,237,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 62%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );}
p {
  color: purple;
  text-align: center;
  transform-style: initial;
  font-size: 25px;
}
.blue {
  color: blue;
  font-size: 18px;
}
#name{
  color: blue;
}
div, 
.blue{
  color: darkcyan;
}
/*all h1  */
h1{
  background: -webkit-linear-gradient(fuchsia, pink);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
     color: tomato;
  text-align: center;
    font-family: cursive;
    font-size: 300%;


}
/*all with class="highlight" */
.highlight{
  font-size: 24px;
  font-weight: initial;
  font-style: italic,;
  background-color:bisque ;
  opacity: .7;
}
span.classy {
  background-color: lavender;
  font-size: 16px;
}
/*all with id="mainPoint */
#mainPoint{
  font-size: 18px;
  font-kerning: initial;
  background-color: lightcyan;
  opacity: .9;
}

