html {
  background-color: #ffe4c4;
}
 
h1{
  color: #dc143c;
    font-family: "Latin Modern Roman 10";
    font-style:oblique;
}
p {
  color: blue;
}
.blue {
  color: blue;
}
#name{
  color: blue;
}
div, 
.blue{
  color: blue;
}
